---
title: "{{ ansible_hostname }}"
footer: false

services:
  - name: "Files"
    icon: "fas fa-folder-open"
    items:
      - name: "Syncthing"
        subtitle: "File sync"
        url: "https://{{ tailscale_domain }}:{{ syncthing_external_port }}"
        target: "_blank"
  - name: "Food"
    icon: "fas fa-utensils"
    items:
      - name: "Mealie"
        subtitle: "Recipes"
        url: "https://{{ tailscale_domain }}:{{ mealie_external_port }}"
        target: "_blank"
  - name: "Finance"
    icon: "fas fa-wallet"
    items:
      - name: "Actual"
        subtitle: "Budget"
        url: "https://{{ tailscale_domain }}:{{ actual_external_port }}"
        target: "_blank"
