---
title: "{{ ansible_facts['hostname'] }}"
footer: false

services:
  - name: "Development"
    icon: "fas fa-code-branch"
    items:
      - name: "Forgejo"
        subtitle: "Git"
        url: "https://{{ tailscale_domain }}:{{ forgejo_external_port }}"
        target: "_blank"
  - name: "Photos"
    icon: "fas fa-camera"
    items:
      - name: "Immich"
        subtitle: "Photo library"
        url: "https://{{ tailscale_domain }}:{{ immich_external_port }}"
        target: "_blank"
  - name: "Bookmarks"
    icon: "fas fa-bookmark"
    items:
      - name: "Karakeep"
        subtitle: "Bookmarks"
        url: "https://{{ tailscale_domain }}:{{ karakeep_external_port }}"
        target: "_blank"
  - name: "Reading"
    icon: "fas fa-rss"
    items:
      - name: "FreshRSS"
        subtitle: "Feed reader"
        url: "https://{{ tailscale_domain }}:{{ freshrss_external_port }}"
        target: "_blank"
  - name: "Documents"
    icon: "fas fa-file-alt"
    items:
      - name: "Paperless"
        subtitle: "Document manager"
        url: "https://{{ tailscale_domain }}:{{ paperless_external_port }}"
        target: "_blank"
  - name: "Finance"
    icon: "fas fa-wallet"
    items:
      - name: "Actual"
        subtitle: "Budget"
        url: "https://{{ tailscale_domain }}:{{ actual_external_port }}"
        target: "_blank"
  - name: "Home"
    icon: "fas fa-house-signal"
    items:
      - name: "Home Assistant"
        subtitle: "Home automation"
        url: "https://{{ tailscale_domain }}:{{ homeassistant_external_port }}"
        target: "_blank"
  - name: "Identity"
    icon: "fas fa-id-card"
    items:
      - name: "LLDAP"
        subtitle: "Directory"
        url: "https://{{ tailscale_domain }}:{{ lldap_external_port }}"
        target: "_blank"
      - name: "Authelia"
        subtitle: "Authentication"
        url: "https://{{ tailscale_domain }}:{{ authelia_external_port }}"
        target: "_blank"
