---
title: "{{ ansible_facts['hostname'] }}"
footer: false

services:
  - name: "Development"
    icon: "fas fa-code-branch"
    items:
      - name: "Forgejo"
        subtitle: "Git"
        url: "https://{{ tailscale_domain }}:{{ forgejo_external_port }}"
        target: "_blank"
  - name: "Files"
    icon: "fas fa-folder-open"
    items:
      - name: "Syncthing"
        subtitle: "File sync"
        url: "https://{{ tailscale_domain }}:{{ syncthing_external_port }}"
        target: "_blank"
  - name: "Photos"
    icon: "fas fa-camera"
    items:
      - name: "Immich"
        subtitle: "Photo library"
        url: "https://{{ tailscale_domain }}:{{ immich_external_port }}"
        target: "_blank"
  - name: "Bookmarks"
    icon: "fas fa-bookmark"
    items:
      - name: "Karakeep"
        subtitle: "Bookmarks"
        url: "https://{{ tailscale_domain }}:{{ karakeep_external_port }}"
        target: "_blank"
  - name: "Reading"
    icon: "fas fa-rss"
    items:
      - name: "FreshRSS"
        subtitle: "Feed reader"
        url: "https://{{ tailscale_domain }}:{{ freshrss_external_port }}"
        target: "_blank"
  - name: "Food"
    icon: "fas fa-utensils"
    items:
      - name: "Mealie"
        subtitle: "Recipes"
        url: "https://{{ tailscale_domain }}:{{ mealie_external_port }}"
        target: "_blank"
  - name: "Documents"
    icon: "fas fa-file-alt"
    items:
      - name: "Paperless"
        subtitle: "Document manager"
        url: "https://{{ tailscale_domain }}:{{ paperless_external_port }}"
        target: "_blank"
  - name: "Finance"
    icon: "fas fa-wallet"
    items:
      - name: "Actual"
        subtitle: "Budget"
        url: "https://{{ tailscale_domain }}:{{ actual_external_port }}"
        target: "_blank"
  - name: "Home"
    icon: "fas fa-house-signal"
    items:
      - name: "Home Assistant"
        subtitle: "Home automation"
        url: "https://{{ tailscale_domain }}:{{ homeassistant_external_port }}"
        target: "_blank"
