# {{ ansible_managed }}
theme: 'auto'

server:
  address: 'tcp://:{{ authelia_port }}'

log:
  level: 'info'

totp:
  issuer: '{{ domain_name }}'

identity_validation:
  reset_password:
    jwt_lifespan: '5 minutes'

authentication_backend:
  password_reset:
    disable: true
  refresh_interval: '5 minutes'
  ldap:
    implementation: 'lldap'
    address: '{{ authelia_ldap_address }}'
    base_dn: '{{ authelia_ldap_base_dn }}'
    additional_users_dn: 'ou=people'
    additional_groups_dn: 'ou=groups'
    user: '{{ authelia_ldap_user }}'

access_control:
  default_policy: 'two_factor'

session:
  name: 'authelia_session'
  expiration: '1 hour'
  inactivity: '5 minutes'
  remember_me: '1 month'
  cookies:
    - domain: '{{ tailscale_domain }}'
      authelia_url: '{{ authelia_external_url }}'

regulation:
  max_retries: 4
  find_time: '2 minutes'
  ban_time: '5 minutes'

storage:
  postgres:
    address: 'tcp://{{ authelia_db_host }}:5432'
    database: '{{ authelia_db_name }}'
    username: '{{ authelia_db_user }}'

notifier:
  smtp:
    address: 'submission://smtp.mailgun.org:587'
    username: '{{ mailgun_user }}'
    sender: 'Authelia <{{ inventory_hostname }}@{{ mailgun_from }}>'

identity_providers:
  oidc:
    claims_policies:
      # Escape hatch for Karakeep, (not a conformant OIDC client):
      # https://www.authelia.com/integration/openid-connect/clients/karakeep/
      karakeep:
        id_token:
          - 'email'
    jwks:
      - key: |
{{ authelia_oidc_jwks_key | indent(10, first=true) }}
    clients:
     # Memos needs to be configured manually:
     # https://www.authelia.com/integration/openid-connect/clients/memos/
      - client_id: 'memos'
        client_name: 'Memos'
        client_secret: '{{ memos_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: false
        redirect_uris:
          - '{{ memos_external_url }}/auth/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        token_endpoint_auth_method: 'client_secret_post'
     # Forgejo needs to be configured manually:
     # https://www.authelia.com/integration/openid-connect/clients/forgejo/
      - client_id: 'forgejo'
        client_name: 'Forgejo'
        client_secret: '{{ forgejo_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - '{{ forgejo_external_url }}/user/oauth2/authelia/callback'
        scopes:
          - 'openid'
          - 'email'
          - 'profile'
          - 'groups'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
     # Karakeep is configured via OAUTH_* env vars in the bookmark_server role:
     # https://www.authelia.com/integration/openid-connect/clients/karakeep/
      - client_id: 'karakeep'
        client_name: 'Karakeep'
        client_secret: '{{ karakeep_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: false
        claims_policy: 'karakeep'
        redirect_uris:
          - '{{ karakeep_external_url }}/api/auth/callback/custom'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
     # Immich needs to be configured manually:
     # https://www.authelia.com/integration/openid-connect/clients/immich/
      - client_id: 'immich'
        client_name: 'immich'
        client_secret: '{{ immich_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: false
        redirect_uris:
          - '{{ immich_external_url }}/auth/login'
          - '{{ immich_external_url }}/user-settings'
          - 'app.immich:///oauth-callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_post'
     # Miniflux is configured via OAUTH2_* env vars in the feed_server role:
     # https://www.authelia.com/integration/openid-connect/clients/miniflux/
      - client_id: 'miniflux'
        client_name: 'Miniflux'
        client_secret: '{{ miniflux_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: false
        redirect_uris:
          - '{{ miniflux_external_url }}/oauth2/oidc/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
     # Actual Budget is configured via ACTUAL_OPENID_* env vars in the budget_server role:
     # https://www.authelia.com/integration/openid-connect/clients/actual-budget/
      - client_id: 'actual'
        client_name: 'Actual Budget'
        client_secret: '{{ actual_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: false
        redirect_uris:
          - '{{ actual_external_url }}/openid/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'groups'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
     # Paperless-ngx is configured via PAPERLESS_SOCIALACCOUNT_PROVIDERS in the document_server role:
     # https://www.authelia.com/integration/openid-connect/clients/paperless/
      - client_id: 'paperless'
        client_name: 'Paperless'
        client_secret: '{{ paperless_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - '{{ paperless_external_url }}/accounts/oidc/authelia/login/callback/'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
          - 'groups'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
     # Open WebUI is configured via OAUTH_* env vars in the ai_server role:
     # https://www.authelia.com/integration/openid-connect/clients/open-webui/
      - client_id: 'open-webui'
        client_name: 'Open WebUI'
        client_secret: '{{ openwebui_oidc_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - '{{ openwebui_external_url }}/oauth/oidc/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
