# {{ ansible_managed }}
{% if tailscale_domain is defined %}
(tailscale) {
	tls {
		get_certificate tailscale
	}
}

# Block to auth with authelia (through Caddy)
(authelia) {
	forward_auth localhost:{{ authelia_port }} {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}

http://{{ tailscale_domain }} {
	redir https://{{ tailscale_domain }}{uri}
}

import conf.d/*

{% endif %}
